<header>
  <div class="start">
    <img width="50px" src="/assets/icons/saturno.png" alt="">
    <span>LEI NASA APP</span>
  </div>
  <div class="end">
    <i class="pi pi-github" style="font-size: 2rem"></i>
    <i class="pi pi-linkedin" style="font-size: 2rem"></i>
  </div>
</header>

<p-tabMenu [activeItem]="activeItem" [model]="items"></p-tabMenu>

<main [ngSwitch]="template">
  <app-earth-template *ngSwitchCase="'earth'"></app-earth-template>
  <app-mars-template *ngSwitchCase="'mars'"></app-mars-template>
</main>
