/* You can add global styles to this file, and also import other style files */
* {
  font-family: 'Jura', sans-serif;
}

body {
  background-color: #e8e8e8;
  font-family: 'Jura', sans-serif;
  min-height: 100vh;
  margin: 0;
}
